.score {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    text-align: center;
}

.lit-score {
    background-color: blueviolet;
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 10px;
    color: whitesmoke;
}

.num-score {
    background-color: bisque;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    color: rgb(1, 35, 37);
}