body {
  background: linear-gradient(to right, red, blue);
}

.App {
  text-align: center;
  display: block;
  /* display: flex; */
  /* flex-wrap: nowrap; */
}
#full-body {
  display: flex;
  flex-direction: column;
}


.App-body{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.App-header {
  background-color: #222;
  display: block;
  height: 30px;
  padding: 20px;
  color: cyan;
  font-size: 2em;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}

#board-buttons {

}

#next-round, #reset {
  width: 100px;
  height: 40px;
}